
<input type="checkbox" id="modal-exit" hidden>
<label for="modal-exit" class="layer__hidden"></label>
<div class="modal__exit">
    <div class="modal__header flex-center">
        <strong>
            Are you sure want to Exit!
        </strong>
    </div>
    <div class="modal__fotter flex-center">
        <div class="btn-exit flex-center">Exit</div>
        <label for="modal-exit" class="btn-cancel flex-center">Cancel</label>
    </div>
</div>
<div class="layer__hidden hidden-modal-delete"></div>
<div class="modal__delete__chat">
    <div class="modal__header">
        <strong>Are you sure you want to delete!</strong>
    </div>
    <div class="modal__footer flex-center">
        <div class="btn-delete btn-delete-chat flex-center">Delete</div>
        <div class="btn-cancel btn-cancel-delete flex-center">Cancel</div>
    </div>
</div>